<template>
    <svg xmlns="http://www.w3.org/2000/svg" :viewBox="`0 0 ${board.size} ${board.size}`">
        <template v-for="row in Array(board.size).keys()">
            <template v-for="col in Array(board.size).keys()">
                <rect :x="col" :y="row" width="1" height="1"
                      :fill="board.get(row, col) ? getQuadrantColour(row, col) : background"
                      stroke="#444" :stroke-width="borders ? 0.02 : 0"
                      :style="clickable ? 'cursor: pointer' : ''"
                      @click="$emit('switch', row, col);"
                />
                <template v-if="text && board.questions[row * board.size + col] !== undefined">
                    <text v-for="{line, offset} in splitText(board.questions[row * board.size + col][0])"
                          :dx="col + 0.5" :dy="row + 0.5 + offset * 0.2"
                          dominant-baseline="middle"
                          text-anchor="middle"
                          :style="`font-size: 0.01em; text-align: center;${clickable ? 'cursor: pointer;' : ''}`"
                          @click="$emit('switch', row, col);"
                    >
                        {{line}}
                    </text>
                </template>
            </template>
        </template>
    </svg>
</template>

<script>
    export default {
        props: {
            board: {required: true},
            sectionColours: {required: true},
            text: {type: Boolean},
            borders: {type: Boolean},
            clickable: {type: Boolean},
            background: {'default': 'transparent'}
        },
        methods: {
            getQuadrantColour(row, col) {
                return this.sectionColours[this.board.getSection(row)][this.board.getSection(col)];
            },
            splitText(text, maxwidth = 12) {
                const words = text.replace(/-/g, '- ').split(' ');
                const lines = [];
                let line = '';
                for (let word of words) {
                    let proposed = line ? line + (line.endsWith('-') ? '' : ' ') + word : word;
                    if (proposed.length <= maxwidth) {
                        line = proposed;
                    } else {
                        lines.push(line);
                        line = word;
                    }
                }
                if (line) {
                    lines.push(line);
                }
                return lines.map((line, i) => {
                    return {
                        line,
                        offset: i - (lines.length - 1) / 2,
                    };
                });
            },
        },
    }
</script>

<style lang="scss" scoped>
    text {
        font-family: 'Dosis', sans-serif;
    }
</style>
