<template>
    <footer>
        <ul>
            <li>
                {{$t('footerCode')}}:
                <a href="https://avris.it" target="_blank" rel="noopener">Andrea Vos</a>
            </li>
            <li>
                {{$t('footerQuestions')}}
                <a href="https://twitter.com/AvrisIT/status/1438863750325587968" target="_blank" rel="noopener">{{$t('unknown')}}</a>
            </li>
            <li>
                {{$t('license')}} <a href="https://oql.avris.it/license?c=Andrea%20Vos%7Chttps://avris.it" target="_blank" rel="noopener">OQL</a>
            </li>
            <li>
                <a href="https://gitlab.com/Avris/Compass" target="_blank" rel="noopener">{{$t('source')}}</a>
            </li>
        </ul>
    </footer>
</template>

<script>
    export default {}
</script>
