<template>
    <header>
        <h1>
            <img src="../static/logo.svg" alt="Logo">
            {{$t('title')}}
        </h1>
        <p>{{$t('description')}}</p>
    </header>
</template>

<script>
    export default {}
</script>
