<template>
    <div>
        <Header/>
        <main>
            <aside class="scrollGradient">
                <button @click="board.setData(false);redraw()" class="m1">
                    {{$t('selectNone')}}
                </button>
                <button @click="board.setData(true);redraw()" class="m1">
                    {{$t('selectAll')}}
                </button>
                <ul>
                    <li v-for="([question, link], i) in board.questions">
                        <label>
                            <input type="checkbox" v-model="board.data[i]" @change="redraw"/>
                            {{ question }}
                            <a v-if="link" :href="link" target="_blank" rel="noopener" class="btn btn-sm btn-secondary">
                                ?
                            </a>
                        </label>
                    </li>
                </ul>
            </aside>
            <article class="scrollGradient">
                <Board
                    :board="board"
                    :sectionColours="sectionColoursSubdued"
                    text
                    borders
                    clickable
                    @switch="switchBox"
                    ref="boardLg"
                    id="board-lg"
                />

                <Board
                    :board="board"
                    :sectionColours="sectionColoursSubdued"
                    borders
                    ref="boardSm"
                    id="board-sm"
                />

                <div class="d-none">
                    <Board
                        :board="board"
                        :sectionColours="sectionColoursSubdued"
                        text
                        borders
                        background="white"
                        ref="boardExport"
                        id="board-export"
                    />
                </div>

                <div class="input-group">
                    <Board
                        :board="board"
                        :sectionColours="sectionColoursIntense"
                        ref="boardMini"
                    />
                    <input type="text" v-model="url" readonly id="url"/>
                    <button data-clipboard-target="#url">{{$t('copy')}}</button>
                </div>

                <div class="downloads">
                    <a :href="svg" download="compass.svg" class="btn m1">
                        {{$t('download')}} SVG
                    </a>
                    <a :href="png" download="compass.png" class="btn m1">
                        {{$t('download')}} PNG
                    </a>
                </div>
            </article>
        </main>
        <Footer/>
    </div>
</template>

<script>
    import Encoder from "../src/encoder";
    import { board } from "../src/board";
    import Canvg from 'canvg/lib/index.es';
    import ClipboardJS from 'clipboard';

    const encoder = new Encoder();

    export default {
        data() {
            return {
                board: board,
                encoded: undefined,
                png: undefined,
                svg: undefined,
                sectionColoursSubdued: [
                    [ '#ff999d', '#ff9aff', '#9dc1ff', ],
                    [ '#ffd19a', '#ced0cf', '#86f4ff', ],
                    [ '#7eff9c', '#d2ff97', '#ffee96', ],
                ],
                sectionColoursIntense: [
                    [ '#f8474e', '#f85df8', '#5d8fe8', ],
                    [ '#ffad4e', '#bdbcbc', '#2dbece', ],
                    [ '#31b04f', '#d3d13b', '#f5db2c', ],
                ],
            };
        },
        async mounted() {
            if (process.client && window.location.hash) {
                board.setData(encoder.decode(window.location.hash.substring(1)));
            }
            new ClipboardJS('[data-clipboard-target]');
            await this.redraw();
        },
        methods: {
            async switchBox(row, col) {
                this.board.switch(row, col);
                await this.redraw();
            },
            redraw() {
                this.encoded = encoder.encode(board.toString());

                this.$refs.boardLg.$forceUpdate();
                this.$refs.boardSm.$forceUpdate();
                this.$refs.boardMini.$forceUpdate();
                this.$refs.boardExport.$forceUpdate();

                this.$nextTick(this.generateSvg);
                this.$nextTick(this.generatePng);
                this.$nextTick(this.setFavicon);
            },
            generateSvg() {
                this.svg = `data:image/svg+xml,${encodeURIComponent(this.$refs.boardExport.$el.outerHTML)}`;
            },
            async generatePng() {
                const canvas = document.createElement('canvas');
                canvas.width  = 2000;
                canvas.height = 2000;
                const ctx = canvas.getContext('2d');

                const v = await Canvg.fromString(ctx, this.$refs.boardExport.$el.outerHTML);
                await v.render();
                this.png = canvas.toDataURL("image/png");
            },
            setFavicon() {
                document.getElementById('favicon').setAttribute(
                    'href',
                    'data:image/svg+xml,' + encodeURIComponent(this.$refs.boardMini.$el.outerHTML.replace(/style="[^"]+"/g, ''))
                )
            }
        },
        watch: {
            encoded(v) {
                window.location.hash = v;
            }
        },
        computed: {
            url() {
                if (!process.client) {
                    return `#${this.encoded}`;
                }
                return `${window.location.protocol}//${window.location.host}/#${this.encoded}`;
            },
        },
    }
</script>

<style lang="scss">
    @import "../node_modules/normalize.css";

    body {
        font-family: 'Dosis', sans-serif;
    }

    $dark: #333;
    $gray: #aaa;
    $white: #fff;
    $padding: 1rem;

    header, footer {
        background-color: $dark;
        padding: $padding;
        color: $white;
        a, a:hover, a:focus, a:visited {
            color: #eee;
        }
        ul {
            text-align: center;
            padding-left: 0;
            li {
                list-style-type: none;
                margin-bottom: $padding/2;
            }
        }
    }
    footer {
        padding: 2*$padding;
    }

    aside {
        padding: $padding;
        ul {
            padding-left: 0;
            li {
                list-style-type: none;
                margin-bottom: $padding/2;
            }
        }
    }

    @media (max-width: 1023px) {
        article {
            position: sticky;
            bottom: 0;
            background: $white;
            padding: $padding;
            border-top: 1px solid $gray;

            text-align: center;
        }
        #board-lg {
            display: none;
        }
        #board-sm {
            border: 1px solid black;
            max-height: 25vh;
        }
    }
    @media (min-width: 1024px) {
        aside {
            max-height: 100vh;
            overflow-y: auto;
        }
        main {
            width: 100vw;
            min-height: 100vh;
            display: flex;

            article {
                padding: $padding;
                flex-grow: 1;
                max-height: 100vh;
                overflow-y: auto;
            }
        }
        #board-lg {
            border: 1px solid black;
            width: 100%;
        }
        #board-sm {
            display: none;
        }
        .downloads {
            text-align: center;
            padding-top: $padding;
            padding-bottom: $padding;
        }
    }


    .m1 {
        margin: $padding/4;
    }

    button, .btn {
        background-color: $dark;
        color: $white;
        border: none;
        padding: $padding/2 $padding;
        border-radius: $padding/2;
        cursor: pointer;
        text-decoration: none;
        &:hover {
            background-color: lighten($dark, 20%);
        }
        &.btn-sm {
            padding: $padding/4 $padding/2;
            margin: 0;
        }
        &.btn-secondary {
            background-color: $gray;
            color: $white;
            &:hover {
                background-color: darken($gray, 20%);
            }
        }
    }

    label {
        cursor: pointer;
    }

    .input-group {
        display: flex;
        align-items: stretch;
        width: 100%;
        margin-top: $padding;
        margin-bottom: $padding;
        input[type="text"] {
            display: block;
            flex-grow: 1;
            padding-left: $padding/2;
            padding-right: $padding/2;
            background-color: lighten($gray, 25%);
        }
        > * {
            border: 1px solid $gray;
            border-right: none;
            border-radius: 0;
        }
        :first-child {
            border-top-left-radius: $padding/2;
            border-bottom-left-radius: $padding/2;
        }
        :last-child {
            border-top-right-radius: $padding/2;
            border-bottom-right-radius: $padding/2;
            border-right: 1px solid $gray;
        }
        svg {
            height: 2.1rem;
            width: 2.1rem;
        }
    }

    .d-none {
        display: none;
    }

    #board-export {
        border: 1px solid black;
        width: 2000px;
        height: 2000px;
    }

    .scrollGradient {
        background:
            linear-gradient(#ffffff 33%, rgba(255,255,255, 0)),
            linear-gradient(rgba(255,255,255, 0), #ffffff 66%) 0 100%,
            radial-gradient(farthest-side at 50% 0, rgba(34,34,34, 0.5), rgba(0,0,0,0)),
            radial-gradient(farthest-side at 50% 100%, rgba(34,34,34, 0.5), rgba(0,0,0,0)) 0 100%;
        background-color: #ffffff;
        background-repeat: no-repeat;
        background-attachment: local, local, scroll, scroll;
        background-size: 100% 36px, 100% 36px, 100% 12px, 100% 12px;
    }
</style>
